<app-navbar></app-navbar>
<div class="container  mb-3">
    <div class="row mt-3 text-center">
        <h1>Compra de tiquetes</h1>
    </div>
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <form>
                <div class="form-group my-2">
                    <label>¿En que ciudad se encuentra?</label>
                    <input type="text" class="form-control" />
                </div>
                <div class="form-group my-2">
                    <label>Rutas</label>
                    <select class="form-control">
                        <option>Ruta 1</option>
                        <option>Ruta 2</option>
                        <option>Ruta 3</option>
                    </select>
                </div>

                <div class="form-group my-2">
                    <label>¿Cual es su tipo de documento de identidad?</label>
                    <select class="form-control">
                        <option>Tarjeta de identidad</option>
                        <option>Cedula de ciudadanía</option>
                    </select>
                </div>
                <div class="form-group d-flex my-2 align-items-center">
                    <label class="me-2">Precio:</label>
                    <h3>50.000</h3>
                </div>
                <div>
                    <label>Cúal es su nombre</label>
                    <div class="row">
                        <div class="col-lg-6">
                            <input class="form-control" placeholder="Primer nombre" type="text" />
                        </div>
                        <div class="col-lg-6">
                            <input class="form-control" placeholder="Segundo nombre" type="text" />
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-lg-6">
                            <input class="form-control" placeholder="Primer apellido" type="text" />
                        </div>
                        <div class="col-lg-6">
                            <input class="form-control" placeholder="Segundo apellido" type="text" />
                        </div>
                    </div>
                </div>
                <div class="row py-1">
                    <label>Método de pago</label>
                </div>

                <div class="row justify-content-between align-items-center">
                    <div class=" col-lg-4">
                        <div style="width: 100px;" class=" d-flex align-items-center form-check ">
                            <input class="form-check-input me-2" name="flexRadioDefault" id="flexRadioDefault1"
                                type="radio" />
                            <img class="img-fluid" src="../../../../assets/tickets/visa-logo.png">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div style="width: 100px;" class="d-flex align-items-center form-check">
                            <div class="">
                                <input class="form-check-input  me-2" name="flexRadioDefault" id="flexRadioDefault2"
                                    type="radio" />
                            </div>
                            <img class="img-fluid" src="../../../../assets/tickets/mastercard-logo.svg" />
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div style="width: 100px;" class="d-flex align-items-center form-check">
                            <input class="form-check-input  me-2" name="flexRadioDefault" id="flexRadioDefault3"
                                type="radio" />
                            <img class="img-fluid" src="../../../../assets/tickets/logo-pse.png" />
                        </div>
                    </div>
                </div>
                <div class="row py-4">
                    <div class="col-lg-6">
                        <img class="w-50 " src="../../../../assets/tickets/credit-card-imagen.png" />
                    </div>
                    <div class="col-lg-6">
                        <div class="my-2">
                            <label>Número de tarjeta de credito</label>
                            <input type="number" class="form-control" />
                        </div>
                        <div class="my-2" >
                            <label>Nombre en la tarjeta</label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="my-2">
                            <label>Fecha de expiración </label>
                            <input (onShown)="onOpenCalendar($event)" name="date" autocomplete="off" bsDatepicker
                                [bsConfig]="{dateInputFormat: 'MM/YYYY'}" class="form-control" />
                        </div>
                        <div class="my-2">
                            <label>Código de seguridad</label>
                            <input class="w-25 form-control" type="number" >
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <button class="btn btn-success">Comprar</button>
                </div>
            </form>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>